*.o
*.lo
*.la
*.a
*.log
*.trs
*.tgz
*.tar.*
config.h
config.h.in
config.log
config.status
configure
Makefile
Makefile.in
aclocal.m4
libtool
stamp-h1
autom4te.cache
.auto/
src/pridelet
src/.deps/
tools/.deps/
tools/caca2tlf
doc/pridelet.1
doc/toilet.1
test-suite.log
